* {
    font-family: "微软雅黑";
}

header {
    height: 50px;
    width: 100%;
    /*background: #354658;*/
    /*background:linear-gradient(90deg,rgba(24,144,255,1) 0%,rgba(30,44,199,1) 100%);*/
    background: linear-gradient(90deg, rgba(47, 64, 86, 1) 0%, rgba(1, 91, 147, 1) 100%);
    background: url('../images/head_bg.jpg') repeat;
}

.logo {
    float: left;
    line-height: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.logo img {
    display: inline-block;
    margin: -10px 15px 0px 15px;
}

header .nav {
    height: 50px;
    float: right;
    margin-right: 10px;
}

header .nav ul {
    height: 50px;
}

.layui-nav {
    background: transparent;
}

header .nav ul li {
    float: left;
    position: relative;
}

header .nav ul li a {
    font-weight: bold;
}

.layui-nav .layui-nav-item {
    line-height: 50px;
}

.main {
    height: calc(100vh - 50px);
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0px;
    overflow: hidden;
}

.user {
    height: 50px;
    position: absolute;
    right: 40px;
    top: 0px;
}

.user .layui-icon {
    color: #fff;
    font-size: 40px;
    line-height: 54px;
    position: relative;
}

.user .layui-icon .layui-bg-blue {
    right: -10px;
    top: -2px;
}

.tools {
    margin-right: 3px;
}

.show {
    display: block !important;
}
.hide{display: none !important;}

.layui-nav{
    padding:0;
}
#movePort{z-index: 9999;}